#basic-modal-content {
    display:none;
}

/* Overlay */
#simplemodal-overlay {
    background-color:#000;
    cursor:wait;
}

/* Container */
#simplemodal-container {
    height:360px;
    width:600px;
    color:#bbb;
    background-color:#333;
    border:4px solid #444;
    padding:12px;
}

#simplemodal-container .simplemodal-data {
    padding:8px;
    text-align:center;
}

#simplemodal-container code {
    background: #141414;
    border-left: 3px solid #65B43D;
    color:#bbb;
    display:block;
    font-size:12px;
    margin-bottom:12px;
    padding:4px 6px 6px;
}

#simplemodal-container a {
    color:#ddd;
}

#simplemodal-container a.modalCloseImg {
	background:url(../images/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#simplemodal-container h3 {
    color:#84b8d9;
}

/* Forms */

.print-left-float, .print-right-float {
    float:left;
}

.print-left-float {
    width:180px;
}

.print-right-float .warning {
    color: #132D25;
    font-weight:bold;
    background-color: #BDC9C7;
    display:block;
    text-align:center;
}

.print-right-float {
    width:526px;
}

.printing-subtitle {
    font-weight:normal;
}

#printing-page-form legend.main-legend,
#printing-geometry-form legend.main-legend {
    background-color: #132D25;
    border-style: none;
    color: White;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 9.5pt;
    font-weight: bold;
    padding: 2px 5px;
}

.print-left-float-top ul {
    padding:0;
}

.print-left-float-top li {
    list-style: none outside none;
    margin-bottom:2px;
}

.print-left-float-top li .selected {
    background-color:#BDC9C7;
    display:block;
    padding: 1px 4px;
}

#printing-page-form fieldset,
#printing-geometry-form fieldset {
    background-color: #DAEAE8;
    border-color: #CCCCCC;
    padding: 5px;
}

#printing-page-form .print-left-float fieldset,
#printing-geometry-form .print-left-float fieldset {
    margin-right: 5px;
}

#printing-page-form .print-right-float fieldset,
#printing-geometry-form .print-right-float fieldset {
    margin-left: 5px;
}

.nameselect .form-item,
.basicselect,
.basicselect-right,
.basicselect-middle {
    float:left;
}

.nameselect input#edit-pname,
.nameselect input#edit-name {
    width:300px;
}

.nameselect #edit-pname-wrapper,
.nameselect #edit-name-wrapper {
    padding-right:10px;
}

.nameselect .form-radios .form-item {
    margin: 2px 0;
}

.nameselect .form-radios {
    margin:0;
}

a#geometrybutton,
a#geometrybutton:link,
a#geometrybutton:visited,
div#geometrybutton,
.footbutton,
a.footbutton:link,
a.footbutton:visited {
    background-color: #91B0A5;
    border-color: #F1F1F1 #908F8F #908F8F #F1F1F1;
    border-style: solid;
    border-width: 2px;
    color: #000000;
    display: block;
    font-size: 1em;
    margin-top: 2px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
}
a#geometrybutton:hover {
    background-color: #408080;
    border-color: #908F8F #F1F1F1 #F1F1F1 #908F8F;
    color: #FFFFFF;
}

.basicselect-right td .form-item {
    margin:0;
}

.gemfl a {
    float:left;
    width:78px;
    text-align:center;
    font-size:0.75em;
}

.gemfl a img {
    width:60px;
}

#selgem {
    text-align:center;
}

.pagesizes input.form-text {
    width:80px;
}

.pagesizes .form-item label {
    float:left;
}

.pagesizes .form-item input {
    float:right;
}

a.filelink, a.filelink:visited {
    display:inline;
}

/* Clear block for rest of tags */

.nameselect .form-radios:after,
.pagesizes .form-item:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.nameselect .form-radios,
.pagesizes .form-item {
    display: inline-block;
}
* html .nameselect .form-radios,
* html .pagesizes .form-item {
    height: 1%;
}
.nameselect .form-radios,
.pagesizes .form-item {
    display: block;
}