    <p>
</p><h1 name="title-1" id="title-1" toclevel="1" level="">Benchmark document</h1>
<p></p>
<p>
</p><h2 name="title-2" id="title-2" toclevel="2" level="">Table</h2>
<p></p>
<table style="text-align:center;border-width:0;width:100%">
<tbody><tr>
<td style="background-color:LightGray; border-width: 0 0 2px 0; border-style:solid;" colspan="7"> Average speed when creating this table</td>
</tr>
<tr>
<td> &nbsp;</td>
<td style="border-width: 1px; border-style:solid;" colspan="2"> Skills of editor</td>
<td style="border-width: 1px; border-style:solid;" colspan="2"> Speed of procesor</td>
<td style="border-width: 1px 2px 1px 1px; border-style:solid;" colspan="2"> Size of computer’s screen</td>
</tr>
<tr>
<td style="width:16%;"> &nbsp;</td>
<td style="width:14%; border-width: 1px 1px 2px 1px; border-style:solid;"> Beginner</td>
<td style="width:14%; border-width: 1px 1px 2px 1px; border-style:solid;"> Skilled</td>
<td style="width:14%; border-width: 1px 1px 2px 1px; border-style:solid;"> i3</td>
<td style="width:14%; border-width: 1px 1px 2px 1px; border-style:solid;"> i5</td>
<td style="width:14%; border-width: 1px 1px 2px 1px; border-style:solid;"> 17”</td>
<td style="width:14%; border-width: 1px 2px 2px 1px; border-style:solid;"> 21”</td>
</tr>
<tr>
<td style="text-align:left;"> MediaWiki</td>
<td style="border-width: 1px; border-style: solid dotted solid solid;"> 5 min</td>
<td style="border-width: 0 1px 1px 0; border-style: solid;"> 2 min</td>
<td style="border-width: 1px; border-style: solid dotted solid solid;"> 0%</td>
<td style="border-width: 0 1px 1px 0; border-style: solid;"> 0%</td>
<td style="border-width: 1px; border-style: solid dotted solid solid;"> 0%</td>
<td style="border-width: 0 2px 1px 0; border-style: solid;"> 0%</td>
</tr>
<tr>
<td style="text-align:left;"> MS Word 2010</td>
<td style="border-width: 1px; border-style: solid dotted solid solid;"> 15 min</td>
<td style="border-width: 0 1px 1px 0; border-style: solid;"> 5 min</td>
<td style="border-width: 1px; border-style: solid dotted solid solid;"> +30%</td>
<td style="border-width: 0 1px 1px 0; border-style: solid;"> 0%</td>
<td style="border-width: 1px; border-style: solid dotted solid solid;"> 0%</td>
<td style="border-width: 0 2px 1px 0; border-style: solid;"> -20%</td>
</tr>
<tr>
<td style="text-align:left; border-width: 0 0 2px 0;border-style:solid;"> InDesign CS5</td>
<td style="border-width: 1px 1px 2px 1px; border-style: solid dotted solid solid;"> 30-60 min</td>
<td style="border-width: 0 1px 2px 0; border-style: solid;"> 20 min</td>
<td style="border-width: 1px 1px 2px 1px; border-style: solid dotted solid solid;"> +50%</td>
<td style="border-width: 0 1px 2px 0; border-style: solid;"> +10%</td>
<td style="border-width: 1px 1px 2px 1px; border-style: solid dotted solid solid;"> +20%</td>
<td style="border-width: 0 2px 2px 0; border-style: solid;"> 0%</td>
</tr>
</tbody></table>
<p>
</p><h2 name="title-3" id="title-3" toclevel="2" level="">List</h2>
<p></p>
<ol>
<li> <strong>one</strong></li>
<li> <strong>two</strong>
<ul>
<li> two point one</li>
<li> two point two</li>
</ul>
</li>
<li> <strong>three</strong><br>With more explanations<br>Even 2</li>
</ol>
<ul>
<ul>
<ul>
<li> Which can have indented explanations</li>
<li> as well
<ol>
<li> Even numbered sub-explanations if desired</li>
</ol>
</li>
</ul>

</ul>
<li> <strong>four</strong> is just next item</li>
<li> <strong>five</strong>
<ol>
<li> five sub 1
<ol>
<li> five sub 1 sub 1</li>
</ol>
</li>
<li> five sub 2</li>
</ol>
</li>
</ul>
<p>
</p><h2 name="title-4" id="title-4" toclevel="2" level="">Images</h2>
<p></p>
<p>
</p><div style="float:none;" class="wiki-fig"><img border="0" alt="Smiley_Face_clip_art.eps.converted.png" margin="0" caption="" src="/imgpath/Smiley_Face_clip_art.eps.converted.png"></div>
<p></p>
<p>
</p><div style="float:none;" class="wiki-fig"><img border="0" alt="Smiley_Face_clip_art_medium.png" margin="0" caption="" src="/imgpath/Smiley_Face_clip_art_medium.png"></div>
<p></p>
<p>
</p><h2 name="title-5" id="title-5" toclevel="2" level="">Chinese</h2>
<p></p>
<p>本标准涵盖了API标准规定的钻柱构件的检测要求。本标准中，钻柱是指钻头螺纹以上、方钻杆以下的所有构件组合。本标准中不含顶驱的要求，顶驱的检测须依据制造商的程序进行。</p> 
