/* $Id: uc_protx_vsp_direct.css,v 1.2.2.3 2009/05/12 19:38:37 hanoii Exp $ */

img#uc_protx_vsp_direct_protx {
float: right;
}

img#uc_protx_vsp_direct_msc, img#uc_protx_vsp_direct_vbv {
position: relative;
top: 13px;
}

img#uc_protx_vsp_direct_vbv {
margin-left: 15ex;
}

img#uc_protx_vsp_direct_msc {
margin-left: 5ex;
}

div.uc_protx_vsp_direct_cards img {
padding: 3ex;
}

div.uc_protx_vsp_direct_cards {
clear: both;
margin-left: auto;
margin-right: auto;
text-align: center;
}

#Secure3D {
width: 100%;
height: 600px;
}