/**
 * @file
 * Block Styling
 */


.block /* Block wrapper */ {
  margin-bottom: 1em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.region-odd /* Zebra striping for each block in the region */ {
}

.block.region-even /* Zebra striping for each block in the region */ {
}

.block.odd /* Zebra striping independent of each region */ {
}

.block.even /* Zebra striping independent of each region */ {
}

.region-count-1 /* Incremental count for each block in the region */ {
}

.count-1 /* Incremental count independent of each region */ {
}

.block h2.title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1  {
      min-height: 150px;
      height: 150px;
      width: 650px;
      margin:0;
      float:left;
  }

  div[id] #block-block-1 {
      height:auto;
   }

#block-views--exp-search_wikis-page_1 {
    float: left;
    margin: 0;
    padding-top: 115px;
    width: 310px;
}

views-exposed-form-search-wikis-page-1 .content {
    padding-right:10px;
}

#block-block-2 {
    background-color: #000000;
    border-top: 2px solid #EEEEEE;
    color: #EEEEEE;
    margin: 0;
    padding: 5px 20px;
    text-align: right;
}

#block-block-3 {
    height: 193px;
       border: 2px solid #eeeeee;
       border-width: 0 0 2px 0;
       margin:0;
       background: url("../images/main-logo-background.png") no-repeat scroll left top #352624;
}

#block-nice_menus-1 {
    margin:0;
}

#block-blog-0 /* "Recent blog posts" block */ {
}

#block-book-0 /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-0 /* "Recent comments" block */ {
}

#block-forum-0 /* "Active forum topics" block */ {
}

#block-forum-1 /* "New forum topics" block */ {
}

#block-menu-primary-links /* "Primary links" block */ {
}

#block-menu-secondary-links /* "Secondary links" block */ {
}

#block-node-0 /* "Syndicate" block for primary RSS feed */ {
}

#block-poll-0 /* "Most recent poll" block */ {
}

#block-profile-0 /* "Author information" block for the profile of the page's author */ {
}

#block-search-0 /* "Search form" block */ {
}

#block-statistics-0 /* "Popular content" block */ {
}

#block-user-0 /* "User login form" block */ {
}

#block-user-1 /* "Navigation" block for Drupal navigation menu */ {
}

#block-user-2 /* "Who's new" block for a list of the newest users */ {
}

#block-user-3 /* "Who's online" block for a list of the online users */ {

}
