#loginblock #edit-name-wrapper,
#loginblock .passwords {
    display:block;
    width:122px;
    margin:0 auto;
}

body.not-logged-in.section-user #frontpage-login.tweakedlogin,
#flp-inner {
    padding-top:10px;
}

div[id] #flp-inner-content {
    height:auto;
}

#flp-inner-content {
    background: transparent url("../images/rest-bg-bot.png") no-repeat scroll left bottom;
    min-height: 580px;
    height: 580px;
    position:relative;
}

#flp-inner {
    background: #fff url("../images/rest-bg-top.png") no-repeat scroll left top;
    margin:8px auto 0 auto;
    width:705px;
}

body.not-logged-in.section-user #frontpage-login.tweakedlogin #loginblock input#edit-submit {
    background: transparent url("../images/butt-log-both.png") no-repeat scroll left top;
    border:none;
    margin:0 auto;
    width:65px;
    height:66px;
    padding:0;
    cursor:pointer;
    text-indent: -9999px;
    display:block;
}

body.not-logged-in.section-user #frontpage-login.tweakedlogin #loginblock input#edit-submit:hover {
    background: transparent url("../images/butt-log-both.png") no-repeat scroll left -66px;
}

.tweakedlogin .my-user-submit {
    background: none repeat scroll 0 0 #004E4E;
    border-style:solid;
    border-color:#023C3D;
    border-width: 0 3px 3px 0;
    color: #fff;
    display: -moz-inline-stack;
    display:inline-block;
    margin: 0;
    overflow: visible;
    padding: 2px 8px;
    text-transform: uppercase;
    width: auto;
    cursor:pointer;
    zoom:1;
}

body.not-logged-in.no-sidebars .main-logo-log {
    background: url("../images/login-bg.jpg") no-repeat scroll left top transparent;
    display: block;
    margin: 0 auto;
    width: 705px;
    overflow:hidden;
    padding-top: 8px;
    height:370px;
    float:none;
}

body.not-logged-in.no-sidebars #page-wrapper, body.not-logged-in.no-sidebars .region-page-closure {
    border:0;
}

body.not-logged-in.no-sidebars #main {
    background:none;
}

body.not-logged-in.no-sidebars #allwrapper {
    height:100%;
}

html {
    height: 100%;
    background-color:#132D25;
}

body.not-logged-in.no-sidebars {
    height: 100%;
    min-height:100%;
}

.main-logo {
    margin:0;
    width:125px;
    height:129px;
    background: url("../images/FPG-logo.gif") no-repeat scroll 15px 10px transparent;
}

.login-menu-login {
    margin: 0 9px 0 10px;
    background-color:#000;
}

a.lm-all {
    float:right;
    color:#c9c9c9;
    padding: 4px 8px;
    display:block;
    font-size:14px;
    font-weight:bold;
    text-decoration:none;
}

a.lm-all:hover {
    background-color:#c9c9c9;
    color:#000;
}

.main-logo-log .main-logo-header {
    margin:0;
    display:block;
    overflow:hidden;
    text-indent: -9999px;
}


#loginblock {
    background: url("../images/login-bg.jpg") no-repeat scroll left -378px transparent;
    display: block;
    margin:0 auto;
    width: 700px;
    padding-left:5px;
    min-height: 374px;
    height: 374px;
}

div[id] #loginblock {
    height:auto;
}


#user-register #loginblock {
    padding:0;
}


#loginblock input.form-text {
    border:1px solid black;
    padding:2px;
    width:116px;
    height:16px;
    font-size:0.8em;
    background-color:#FFCE5E;
    text-align:center;
}

#user-pass #loginblock input.form-text {
    width:200px;
}

#user-pass #loginblock #edit-name-wrapper {
    float:none;
    margin-left:auto;
    margin-right:auto;
    padding:0;
    width:200px;
}

#user-register #loginblock #edit-name-wrapper,
#user-register #loginblock #edit-mail-wrapper {
    margin-bottom:5px;
    margin-top:10px;
}

#loginblock .user-credit {
    width:304px;
    margin-left:auto;
    margin-right:auto;
}

#loginblock #edit-name-wrapper {
    margin-bottom:10px;
}

.login-offer {
    text-align: center;
}

.login-offer a,
.login-offer a:visited,
.login-offer a:active {
    text-align: center;
    color:#fff;
    text-decoration:none;
    background-color:#004E4E;
    border-style:solid;
    border-color:#023C3D;
    border-width: 0 3px 3px 0;
    margin: 0;
    padding: 2px 8px;
    text-transform: uppercase;
    display: -moz-inline-stack;
    display:inline-block;
    zoom:1;
}

.tweakedlogin .my-user-submit:hover,
.login-offer a:hover {
    background-color:#008989;
}

* html .login-offer a,
* + html .login-offer a,
* html .login-offer a:visited,
* + html .login-offer a:visited,
* html .login-offer a:active,
* + html .login-offer a:active,
* html .my-user-submit,
* + html .my-user-submit {
    display:inline;
}

#password-clear {
    display:none;
}

#user-register fieldset.captcha #edit-captcha-response-wrapper,
#user-register fieldset.captcha .captcha-image-wrapper {
    float:left;
}

#user-register fieldset.captcha #edit-captcha-response-wrapper {
    margin: 7px 0;
    height:24px;
}

#user-register fieldset.captcha {
    width:320px;
    margin: 0;
    border-width: 1px;
    padding-bottom: 3px;
    padding-top: 0;
}

#user-register fieldset.captcha #edit-captcha-response-wrapper input {
    width:200px;
    height:16px;
    margin-left:20px;
}

.login-menu-wrapper {
   margin-top:12px;	
}

#password-clear-wrapper,
#edit-pass-wrapper {
   margin:0;
}

.views-exposed-form .views-exposed-widget .form-submit {
   margin-bottom: 0;
   margin-top: 0;
}

.top-part {
    background: url("../images/fpg-trainings-background-header.png") no-repeat scroll left top #000000;
}

#block-block-1 h1 {
    display: block;
    height: 130px;
    margin: 0;
    overflow: hidden;
    text-indent: -9999px;
    float:left;
}

#block-block-1 h1 a {
    display: block;
    height: 129px;
}

body.admin-menu {
}

form#views-exposed-form-search-wikis-page-1 {
    float:right;
}

ul.nice-menu-down {
    float:none;
}

#block-block-3 .content {
    color: #EEEEEE;
    font-size: 20px;
    font-weight: bold;
    line-height: 28px;
    padding: 118px 0 0 260px;
}

#block-block-3 .content a,
#block-block-3 .content a:visited {
    color:#000;
    text-decoration:none;
}

#block-block-3 .content a:hover {
    text-decoration:underline;
}

#navigation li {
    padding:0;
}

ul.nice-menu-down li.menuparent.first {
    padding:0;
}

ul.nice-menu-down li.menuparent.first a {
    padding-right:15px;
    /* background: url("arrow-down.png") no-repeat scroll right center transparent; */
}

ul.nice-menu-down ul li {
    background: #000 none;
}

ul.nice-menu-down ul li:hover {
    background: #333333 none;
}

ul.nice-menu-down li.menuparent.first li a {
    background: none;
}

ul.nice-menu-down li a,
ul.nice-menu-down li a:visited {
    text-decoration:none;
    color:#fff;
}

#block-views-list_of_documents-block_1 .field-content a,
#block-views-list_of_documents-block_1 .field-content a:visited {
    text-decoration:none;
    color: #4F3E17;
    font-weight:bold;
}

.view-id-search_wikis.view-display-id-page_1 .views-field-title a,
.view-id-search_wikis.view-display-id-page_1 .views-field-title a:visited {
    text-decoration:none;
    color: #2F5E5E;
    font-weight:bold;
}

#block-views-list_of_documents-block_1 .field-content a:hover,
.view-id-search_wikis.view-display-id-page_1 .views-field-title a:hover {
    text-decoration:underline;
}

h2{
font-style: italic;
}

.wiki-fig{
text-align:center;
}

.wiki-fig img{
border-color:#000000;
border-style:solid;
/*background-color: #ffffff;*/
}

.node-type-wiki h1.title {
display:none;
}

.node-type-wiki .content p {
margin-top:0px;
}

.node-type-wiki .content div a {
color: inherit;
}

h1,h2,h3,h4,h5,h6{
/*clear:both;*/
clear: left;
}

#block-drillingstandardmod-2,
#block-showequipment-0 {
    padding:5px;
    background-color: #697F77;
}

#block-drillingstandardmod-2 .content,
#block-showequipment-0 .content {
    padding:5px;
    border: 1px solid white;
}

.ns-menu-row a, .ns-menu-row a:visited,
.node-type-wiki .content .ns-menu-row a,
.node-type-wiki .content .ns-menu-row a:visited {
    display:block;
    background-color:#7C968D;
    text-align:center;
    color:#fff;
    padding:3px;
    margin:2px 0;
    text-decoration:none;
}

.ns-menu-row a:hover {
    font-weight:bold;
    background-color: #C7A13F;
}

#block-drillingstandardmod-2 .views_view {
    background-color:#7C968D;
}

#block-drillingstandardmod-2 .views_view table, .view-show-specifications table {
    width:100%;
}

.view-show-specifications {
    padding:5px;
    background-color: #697F77;
}

.view-show-specifications .view-content {
    padding:5px;
    border: 1px solid white;
    background-color:#7C968D;
}

.itemclass {
    float:left;
    width:172px;
}

.itemmaterial {
    float:left;
    width:230px;
}

.itemclass .form-item,
.itemmaterial .form-item {
    margin:3px;
}

.view-lists-of-controls .views-view-grid .field-content a {
    padding: 0 5px;
}

.ns1-title {
    color:#fff;
    background-color: #408080;
    text-align:center;
}

ul.generatedmenu {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

ul.generatedmenu ul {
    padding: 0 0 0 0.5em;
}

ul.generatedmenu li {
    list-style: none outside none;
    margin: 2px 0;
}

ul.generatedmenu li.mainnsmenu {
    margin:2px 0;
    padding: 5px;
    border: 1px solid #eeeeee;
}

ul.generatedmenu li.mainnsmenu a.mainlink,
ul.generatedmenu li.mainnsmenu a.mainlink:visited {
    display:block;
    text-decoration:none;
    color:#fff;
    font-weight:bold;
    background: url("../images/fpg-menu-bgr.png") repeat scroll left top transparent;
    padding:2px 4px;
    font-size:1em;
    margin:5px 0;
    border:0;
}

ul.generatedmenu li.mainnsmenu a.mainlink:hover {
    color:#000;
    background-color:#408080;
}

ul.generatedmenu li ul a,
ul.generatedmenu li ul a:visited {
    color:#fff;
    text-decoration:none;
    font-size:0.8em;
    line-height:1.2em;
    padding: 1px 0 1px 5px;
    display:block;
    background: url("../images/fpg-menu-bgr.png") repeat scroll left top transparent;
}

ul.generatedmenu li ul a:hover {
    color:#000;
    background-color:#91B0A5;
}

.generatedmenu input.form-submit,
ul.generatedmenu li a.rearrangebutton,
ul.generatedmenu li a.rearrangebutton:visited {
    background-color:#91B0A5;
    width:156px;
    border-color: #f1f1f1 #908f8f #908f8f #f1f1f1;
    border-style: solid;
    border-width:2px;
    display:block;
    font-size:1em;
    padding: 2px 0;
    text-align:center;
    color:#000;
    margin-top: 2px;
    text-decoration:none;
}

ul.generatedmenu li a.rearrangebutton,
ul.generatedmenu li a.rearrangebutton:visited {
    width:152px;
}

.generatedmenu input.form-submit:hover,
ul.generatedmenu li a.rearrangebutton:hover {
    background-color:#408080;
    color:#fff;
    border-color: #908f8f #f1f1f1 #f1f1f1 #908f8f;
}

.view-search-wikis {
    margin-top:1em;
}

.view-search-wikis table.views-view-grid {
    width:100%;
}

.view-search-wikis table.views-view-grid td {
    width:50%;
    padding:0 2px;
}

.logdesc {
      float:left;
      height:17px;
      width:505px;
      font-weight:bold;
      color:#eeeeee;
      padding: 120px 0 0 20px;
}

.logdesc .headnote {
    font-size:22px;
}

.logdesc .headmenu a,
.logdesc .headmenu a:visited {
    color: #eeeeee;
    display:block;
    padding: 2px 10px;
    float:left;
    text-decoration:none;
}

.logdesc .headmenu a:hover {
    color: #ffffff;
    background-color: #333333;
}

#block-drillingstandardmod-3 .content a {
    font-weight:bold;
}

#main #content #content-area {
    padding-top:10px;
}

#block-showequipment-0 h2.title {
    background-color: #1A1819;
    color: #FFFFFF;
    font-style: normal;
    padding: 2px 0 4px;
    text-align: center;
}

.controlhint {
    background-color: #356D5B;
    color: #E5E5E5;
    padding: 1px;
    text-align: center;
    font-size:0.8em;
}

.insteada {
    color: #000;
    padding: 2px 0;
    text-align:center;
    font-weight:bold;
}

a.pdflink,
a.pdflink:visited {
    background: url("/sites/default/files/themeimages/fpg-messages-bgr.png") repeat scroll left top transparent;
    color: #132D25;
    display: block;
    margin-bottom: 2px;
    padding: 2px 3px;
    text-align: center;
}

a.pdflink:hover {
    text-decoration:none;
    background-color: #eeeeee;
}

#flp-inner-content h1 {
    display:block;
    width:177px;
    height:420px;
    position:absolute;
    background: url("../images/drop-back.png") repeat scroll left top transparent;
    text-indent: -9999px;
    top:10px;
    left:30px;
}

.main-logo-pass {
    float:left;
    width:300px;
    height:420px;
}

#passblock {
    float:left;
    padding: 10px;
    color:#939393;
    width:384px;
}

.lm-fr {
    float:left;
    padding: 2px 0 0 2px;
}

.page-user-register .tweakedaccount input#edit-name,
.page-user-register .tweakedaccount input#edit-mail {
    width:250px;
}

#views-exposed-form-heartbeat-activity-editor-page-1 #edit-submit-heartbeat-activity-editor {
	margin-top:15px;	
}

.view-heartbeat-activity-editor .view-content table {
	width:100%;
}

.view-heartbeat-activity-editor .view-content table td.views-field-counter {
	width:5%;
}

.view-heartbeat-activity-editor .view-content table td.views-field-message {
	width:74%;
}

#node-1901 .tweakedaccount input#edit-submitted-full-name,
#node-1901 .tweakedaccount input#edit-submitted-company-name,
#node-1901 .tweakedaccount input#edit-submitted-email-address {
    width:250px;
}

#webform-client-form-1901 fieldset.captcha #edit-captcha-response-wrapper,
#webform-client-form-1901 fieldset.captcha .captcha-image-wrapper {
    float:left;
}

#webform-client-form-1901 fieldset.captcha #edit-captcha-response-wrapper {
    margin: 7px 0;
    height:24px;
}

#webform-client-form-1901 fieldset.captcha {
    width:320px;
    margin: 0;
    border-width: 1px;
    padding-bottom: 3px;
    padding-top: 0;
}

#webform-client-form-1901 fieldset.captcha #edit-captcha-response-wrapper input {
    width:200px;
    height:16px;
    margin-left:20px;
}

.view-user-profiles select#edit-field-customer-value-many-to-one,
.view-user-profiles select#edit-rid-1 {
    width:290px;
}

.view-user-profiles select#edit-field-ps-value-many-to-one {
    width:90px;
}

.view-user-profiles input#edit-name,
.view-user-profiles input#edit-mail,
.view-user-profiles input#edit-keys {
    width:217px;
}

.view-user-profiles #edit-name-wrapper,
.view-user-profiles #edit-mail-wrapper,
.view-user-profiles #edit-keys-wrapper {
    width:223px;
}

.view-user-profiles td.views-field-name {
    width:125px;
    padding:0 4px;
}

.view-user-profiles td.views-field-name {
    width:125px;
    padding:0 4px;
}

.view-user-profiles td.views-field-field-name-value,
.view-user-profiles td.views-field-field-surname-value {
    width:75px;
    padding:0 4px;
}

.view-user-profiles td.views-field-field-start-value,
.view-user-profiles td.views-field-field-end-value,
.view-user-profiles td.views-field-field-expiry-value {
    width:90px;
    padding:0 4px;
}

#block-user-3 li a, 
#block-user-3 li a:visited {
	color: #000;
}

.page-batch #main {
    background: none;
    background-color:#377665;
}

body.logged-in.page-batch #content .section {
    background:none;
}