/**
 * More PDF module
 *
 **/
#print-right-block {
    width:100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

#right-inner {
    height:1px;
    margin: 0 auto;
    width: 1420px;
}

#right-inner-block {
    width: 200px;
    position:relative;
    left: 1210px;
    top:200px;
    border: 5px solid #EFEFEF;
    background: url("/sites/default/themes/drillingstandard/images/fpg-left-menu-bg.jpg") no-repeat scroll left -76px #377665;
}

#right-inner-block h4 {
    border:0;
    margin:0;
    display:block;
    background-color: #1a1819;
    color: #f1f1f1;
    font-size: 0.9em;
    font-weight:bold;
    text-align:center;
}

#right-inner-block h6 {
    background: url("/sites/default/themes/drillingstandard/images/fpg-menu-bgr.png") repeat scroll left top transparent;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 5px 0;
    padding: 2px 4px;
    text-decoration: none;
}

#inner-block-body {
    padding: 5px;
}

.singlefile {
    background: url("/sites/default/themes/drillingstandard/images/fpg-messages-bgr.png") repeat scroll left top transparent;
    margin: 1px 0;
    padding: 1px 3px 5px;
}

a.filelink, a.filelink:visited {
    color:#2d5c4f;
    font-weight:bold;
    font-size:0.9em;
    display:block;
}

a.filelink:hover {
    text-decoration:none;
    color:#132d25;
}

.file-description {
    font-size: 0.6em;
    font-style: italic;
}

a.primabutton,
a.primabutton:visited,
a.primabutton:link {
    background-color:#91B0A5;
    border-color: #f1f1f1 #908f8f #908f8f #f1f1f1;
    border-style: solid;
    border-width:2px;
    display:block;
    font-size:0.8em;
    padding: 2px 0;
    text-align:center;
    color:#000;
    margin-top: 2px;
    text-decoration:none;
}

a.primabutton:hover {
    background-color:#408080;
    color:#fff;
    border-color: #908f8f #f1f1f1 #f1f1f1 #908f8f;
}