/**
 * Show news
 *
 **/
#print-left-block {
    width:100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: 2;
}

#left-inner-block {
    width: 200px;
    position:relative;
    left: 0;
    top:200px;
    border: 5px solid #EFEFEF;
    background: url("/sites/default/themes/drillingstandard/images/fpg-left-menu-bg.jpg") no-repeat scroll left -76px #377665;
}

#left-inner-block h4 {
    border:0;
    margin:0;
    display:block;
    background-color: #1a1819;
    color: #f1f1f1;
    font-size: 0.9em;
    font-weight:bold;
    text-align:center;
}

#left-inner-block h6 {
    background: url("/sites/default/themes/drillingstandard/images/fpg-menu-bgr.png") repeat scroll left top transparent;
    border: 0 none;
    color: #FFFFFF;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    margin: 5px 0;
    padding: 2px 4px;
    text-decoration: none;
}

#print-left-block .file-description {
    padding-top: 2px;
}

.change-description {
    font-size:0.9em;
}